/* style2.css */
body {
    font-family: 'Roboto', sans-serif;
    color: #212529;
    margin: 0;
    background-color: #e9ecef;
}

header {
    background-color: #1a202c;
    color: #e2e8f0;
    padding: 1.5rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin: 0;
}

main {
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    margin: 2rem auto;
    max-width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table_component {
    overflow-x: auto;
    margin: 1rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
    table-layout: fixed; /* Ensures columns respect set widths */
}

table th,
table td {
    padding: 0.75rem;
    border: 1px solid #dee2e6;
    font-size: 0.85rem;
    text-align: left;
}

table th:nth-child(2),
table td:nth-child(2) {
    max-width: 300px; /* Adjust width as needed */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Allow wrapping or set to nowrap for ellipsis */
    text-overflow: ellipsis; /* Optional, for truncation */
    overflow: hidden;
}



table th {
    background: #1a202c;
    color: #e2e8f0;
    font-weight: 600;
}


caption {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5rem;
}

footer {
    background-color: #1d1e22;
    color: #adb5bd;
    text-align: center;
    padding: 1.5rem;
}
