/* style3.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #1a202c;
    color: #e2e8f0;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

main {
    padding: 2rem;
    margin: auto;
    max-width: 85%;
}

.table_component {
    overflow-x: auto;
    margin: 2rem 0;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ddd;
    background: #ffffff;
}

table th {
    background: #1a202c;
    color: #e2e8f0;
    padding: 1rem;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

table td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
}

caption {
    font-weight: 600;
    margin-bottom: 1rem;
    color: #1a202c;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2d3748;
    color: #e2e8f0;
}
